@model IEnumerable<HNCHOME.Models.ServiceInfo>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
<link rel="stylesheet" href="~/css/Service.css" />
}
@section Slide{
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="header-text hidden-xs">
                <div class="col-md-12">
                    <h3>
                        DỊCH VỤ
                    </h3>
                    <!-- <br> -->
                    <h5>
                        <a href="#">TRANG CHỦ</a> //
                    </h5>
                </div>
            </div>
            <img class="d-block w-100" src="./img/Cover-Page-Dich-vu642.jpeg" alt="First slide" />
        </div>
    </div>

</div>
}
<div class="body__sub-body col-md-12 col-sm-12 row">
    <div class="sub-body__form row col-md-12 col-sm-12 row">
        <div class="body__info-about col-md-12 col-sm-12 col-lg-12 col-xl-9 row">

            <form>
                <!-- about us -->
                <div class="info-about__text col-md-12 col-lg-12 row">
                    <div class="text__label col-md-3 col-lg-3">
                        THÔNG TIN KHÁCH HÀNG
                    </div>
                    <div class="text__form col-md-9 col-lg-9 row">
                        <input type="text" id="CustomerId" name="CustomerId" hidden>
                        <input type="text" id="RegistrationId" name="RegistrationId" hidden>
                        <div class="row col-md-12">
                            <div class="form__name col-md-8 col-lg-8">
                                <label for="">Họ và tên: (<span style="color: red;">*</span>)</label>
                                <br>
                                <input type="text" id="" required>
                            </div>
                        </div>

                        <div class="form__company col-md-12 col-lg-12 row">
                            <div class="company__name col-md-8 col-lg-8">
                                <label for="">Tên công ty:</label>
                                <br>
                                <input type="text" required>
                            </div>
                            <div class="company__tax-number col-md-4 col-lg-4">
                                <label for=" ">Mã số thuế:</label>
                                <br>
                                <input type="text" required>
                            </div>
                        </div>
                        <br>
                        <div class="form__company row col-md-12 col-lg-12">
                            <div class="company__name col-md-6 col-lg-6">
                                <label for=" ">Phone: (<span style="color: red; ">*</span>)</label>
                                <br>
                                <input type="text" required>

                            </div>
                            <div class="company__tax-number col-md-6 col-lg-6">
                                <label for=" ">Email: (<span style="color: red; ">*</span>)</label>
                                <br>
                                <input type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="info-about__text col-md-12 col-lg-12 row">
                    <div class="text__label col-md-3 col-lg-3">
                        THÔNG TIN DỊCH VỤ ĐĂNG KÝ
                    </div>
                    <div class="text__form col-md-9 col-lg-9 row">
                        <div class="text__form__service-form col-md-12 row">
                            <div class="form__service-check-formcheck-form__title col-md-12 col-lg-12">Loại hình dịch vụ:</div>
                            <div class="check-box col-md-12 col-lg-12">
                                <div class="check-form__form row" style="flex-wrap:wrap; display:flex; width:100%">
                                    @for (var i = 0; i < Model.ToList().Count; i++)
                                    {
                                        <div style="height:fit-content; display:flex;margin-right: 0.8rem; margin-bottom: 2%" class="col-4 row">
                                            <label style="font-size: 1.2em" class="col-12">
                                                <input id="@Model.ToList()[i].ServiceId" type="checkbox" style="transform: scale(1.2,1.2); "> @Model.ToList()[i].ServiceTypeName
                                            </label>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="text__form col-md-12 col-lg-12 row" id="goods">
                            <div class="row col-md-12 col-lg-12">
                                <div class="form__name col-md-12 col-lg-12">
                                    <label for="">Loại hàng hóa: (<span style="color: red;">*</span>)</label>
                                    <br>
                                    <input type="text" required>
                                </div>
                            </div>

                            <div class="form__company col-md-12 col-lg-12 row">
                                <div class="company__name col-md-6 col-lg-6">
                                    <label for="">Trọng lượng:</label>
                                    <br>
                                    <input type="text" required>
                                </div>
                                <div class="company__tax-number col-md-6 col-lg-6">
                                    <label for=" ">Size:</label>
                                    <br>
                                    <input type="text" required>
                                </div>
                            </div>
                            <br>
                            <div class="form__company row col-md-12 col-lg-12">
                                <div class="company__name col-md-6 col-lg-6">
                                    <label for=" ">Số lượng:</label>
                                    <br>
                                    <input type="text" required>

                                </div>
                                <div class="company__tax-number col-md-6 col-lg-6">
                                    <label for=" ">Sản lượng:</label>
                                    <br>
                                    <input type="text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="info-about__text col-md-12 col-lg-12 row">
                    <div class="text__label col-md-3 col-lg-3">
                        THÔNG TIN VẬN CHUYỂN HÀNG HÓA
                    </div>
                    <div class="text__form col-md-9 col-lg-9 row">
                        <div class="row col-md-12 col-lg-12">
                            <div class="form__name col-md-12 col-lg-12">
                                <label for="">Phương thức vận chuyển: (<span style="color: red;">*</span>)</label>
                                <br>
                                <input type="text" required>
                            </div>
                        </div>

                        <div class="form__company col-md-12 col-lg-12 row">
                            <div class="company__name col-md-12 col-lg-12">
                                <label for="">Điểm khởi hành: (<span style="color: red;">*</span>)</label>
                                <br>
                                <input type="text" required>
                            </div>
                        </div>
                        <br>
                        <div class="form__company row col-md-12 col-lg-12">
                            <div class="company__name col-md-12 col-lg-12">
                                <label for=" ">Điểm đến: (<span style="color: red; ">*</span>)</label>
                                <br>
                                <input type="text" required>

                            </div>
                        </div>

                        <div class="form__company row col-md-12 col-lg-12">
                            <div class="company__name col-xl-12 col-md-12 col-lg-12">
                                <label for=" ">Yêu cầu khác: (<span style="color: red; ">*</span>)</label>
                                <br>
                                <textarea name="" id="" class="col-xl-12 col-md-12 col-lg-12" rows="2"></textarea>

                            </div>
                        </div>
                        <div class="form__company row col-md-12 col-lg-12 ">
                            <div class="company__name col-md-7 col-lg-7">
                                <button id="button" type="submit">ĐĂNG KÝ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="body__info-update-news col-md-12 col-xl-3 col-sm-12 row">
            <!-- update News -->
            <div class="info-update-news__text col-lg-12 col-xl-12 col-sm-6 col-md-6 row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12 row">
                    <label for="comment" style="font-weight: 700;">TRA CỨU BƯU PHẨM, BƯU KIỆN</label>
                    <textarea style="resize: none;" placeholder="Ví dụ: Số vận đơn là 893020080682251, 893010100170926..." class="form-control col-xl-12 col-sm-12" rows="3" cols="100" id="comment"></textarea>
                </div>

                <button>TÌM KIẾM</button>
            </div>
            <div class="info-update-news__card col-md-6 col-xl-12 col-lg-12 col-sm-12 row">

                <div class="form-group col-xl-12 col-sm-12 col-md-12 row">
                    <h6 style="font-weight: 700;">TÌM KIẾM TRUNG TÂM GIAO DỊCH</h6>
                    <br>
                    <label for="comment" class="col-sm-12">Quốc gia:</label><br>
                    <select class="js-example-basic-single col-lg-12 col-md-12 col-xl-12 col-sm-12" name="state" id="select2" style="width: 96%; margin-left: 2%; height: 40px; border-radius: 3px;">
                        <option value="--Vui lòng chọn quốc gia--">--Vui lòng chọn quốc gia--</option>
                        <option value="Việt Nam">Việt Nam</option>
                        <option value="Úc">Úc</option>
                        <option value="Đức">Đức</option>
                        <option value="Nhật Bản">Nhật Bản</option>
                        <option value="Trung Quốc">Trung Quốc</option>
                        <option value="Vương Quốc Anh">Vương Quốc Anh</option>
                        <option value="Tây Ban Nha">Tây Ban Nha</option>
                        <option value="Hàn Quốc">Hàn Quốc</option>
                    </select>
                    <label for="password" style="margin-top: 20px;">Tỉnh/Thành phố</label>
                    <select class="form-control col-lg-12 col-md-12 col-xl-12 col-sm-12" id="password">
                        <option value="">---- Chọn tỉnh thành -----</option>
                    </select>
                </div>
            </div>
            <div class="info-update-news__text col-md-12 col-xl-12 col-lg-12 col-sm-6 row" id="right_img" style="margin-top: 30px;">
                <div class=" text__text col-md-12 col-xl-12 col-lg-12 row">
                    <span style="font-weight: 700;">BÀI VIẾT MỚI NHẤT</span>
                    <div class="news__img ">
                        <div class="news__aircargo ">
                            <img src="./img/chuyen-phat-nhanh-trong-nuoc519.png" alt=" ">
                            <span style="font-weight: 600;">Vận chuyển hàng hóa quốc tế Aircargo</span>
                        </div>
                    </div>
                    <div class="news__img" style="margin-top: 30px;">
                        <div class="news__aircargo ">
                            <img src="./img/Van chuyen hang TMDT337.jpg" alt=" ">
                            <span style="font-weight: 600;">Vận chuyển hàng hóa quốc tế Express</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-update-news__card  col-md-12 col-xl-12 col-lg-12 col-sm-6" id="contact">
                <div class=" text__text col-md-12 col-xl-12 col-lg-12 col-sm-12">
                    <span style="font-weight: 700;">HỖ TRỢ KHÁCH HÀNG</span>
                    <div style="display: block; font-size: 15px;"><i class="fa-solid fa-phone"></i> <a href="#" style="line-height: 40px;">HOTLINE: 1900 55 88 66</a></div>
                    <div style="display: block; font-size: 15px;"><i class="fa-solid fa-envelope"></i> <a href="#" style="line-height: 40px;">HOTLINE: 1900 55 88 66</a></div>
                </div>
            </div>
            <div class="info-update-news__text ">
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript" src="~/js/Service.js">
</script>
<script>
    $(document).ready(function(){
        debugger;
        console.log($("input")),
        Validate(),
    })
</script>
}