
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="/css/contact.css">
}

 <div class="page-content">
            <div class="contact-page">
                <div class="page__header">
                    <div class="page__title">
                        <h1>liên hệ</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="contact-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-xl-5 col-lg-5 col-md-12  contact-left">
                                <div class="contact__info">
                                    <h3>hỗ trợ trực tuyến</h3>
                                    <p>
                                        <strong>
                                            Chúng tôi luôn ở đây để hỗ trợ
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                             Nếu bạn có bất cứ câu hỏi nào về hàng hoá, bưu phẩm của mình, đừng ngần ngại liên hệ với chúng tôi
                                        </strong>
                                    </p>
                                    <br>
                                    <div class="list-contact">                                      
                                        <div class="list-contact__item">
                                            <div class="address">
                                                <div class="title">Liên hệ tổng đài</div>
                                                <div class="phone">
                                                    <i class="fa fa-phone"></i>
                
                                                    <span>
                                                        <a href="Tel:1900 55 88 66">
                                                            1900 55 88 66
                                                        </a>
                                                    </span>
                
                                                </div>
                                                <div class="social">
                                                    <i class="fa fa-skype"></i>
                                                    <span>
                                                        <a href="skype:haily1975?chat">
                                                            <span class="blue">
                                                                Liên Hệ Tổng Đài
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>                                     
                                        <div class="list-contact__item">
                                            <div class="address">
                                                <div class="title">CHI NHÁNH HỒ CHÍ MINH</div>
                                                <div class="phone">
                                                    <i class="fa fa-phone"></i>
                
                                                    <span>
                                                        <a href="Tel:1900 55 88 66">
                                                            1900 55 88 66
                                                        </a>
                                                    </span>
                
                                                </div>
                                                <div class="social">
                                                    <i class="fa fa-skype"></i>
                                                    <span>
                                                        <a href="skype:haily1975?chat">
                                                            <span class="blue">
                                                                CHI NHÁNH HỒ CHÍ MINH
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="list-contact__item">
                                            <div class="address">
                                                <div class="title">Liên hệ tổng đài</div>
                                                <div class="phone">
                                                    <i class="fa fa-phone"></i>
                
                                                    <span>
                                                        <a href="Tel:1900 55 88 66">
                                                            1900 55 88 66
                                                        </a>
                                                    </span>
                
                                                </div>
                                                <div class="social">
                                                    <i class="fa fa-skype"></i>
                                                    <span>
                                                        <a href="skype:haily1975?chat">
                                                            <span class="blue">
                                                                Liên Hệ Tổng Đài
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="list-contact__item">
                                            <div class="address">
                                                <div class="title">CHI NHÁNH CALIFORNIA</div>
                                                <div class="phone">
                                                    <i class="fa fa-phone"></i>
                
                                                    <span>
                                                        <a href="Tel:1900 55 88 66">
                                                            1900 55 88 66
                                                        </a>
                                                    </span>
                
                                                </div>
                                                <div class="social">
                                                    <i class="fa fa-skype"></i>
                                                    <span>
                                                        <a href="skype:haily1975?chat">
                                                            <span class="blue">
                                                                CHI NHÁNH CALIFORNIA
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xl-7 col-lg-7 col-md-12  contact-right">
                                <h3>gửi phản hồi cho chúng tôi</h3>
                                <div id="addFormContact">
                                    <div class="form-group">                                       
                                        <input type="text" class="form-control" placeholder="Họ và Tên">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">                                       
                                        <input type="text" class="form-control" placeholder="Email">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">                                       
                                        <input type="text" class="form-control" placeholder="Số điện thoại">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">    
                                        <textarea name="" id="" class="" cols="30" rows="7" placeholder="Nội dung..."></textarea>                                   
                                        <!-- <input type="text" class="form-control" placeholder="Nội dung..."> -->
                                        <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">                                       
                                        <button class="btn btn-default btn--original">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


@section Scripts{
    <script src="/js/contact.js"></script>
}