@model IEnumerable<HNCHOME.Models.Country>
<select class="js-example-basic-single form-control" name="state" id="select2" style="width: 96%; margin-left: 2%; height: 40px; border-radius: 3px;">
    <option value="">---Chọn quốc gia---</option>
    @foreach (var item in Model)
    {
        <option value="@item.CountryId">@item.CountryName</option>
    }
</select>
