@model HNCHOME.Models.Post;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


 <main class="page-content">
    <div class="page-header">
      <p class="fw">Danh sách bài viết</p>
       <!-- Button HTML (to Trigger Modal) -->
    <a href="/Admin/Post/Create" class="btn btn-primary">Thêm mới</a>
    </div>
    <div class="page-search">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <span><i b-eginzb9zup="" class="fa fa-search" aria-hidden="true"></i></span>
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="input-groups">
                 <form method="get" style="display:flex">
                      <label style="margin-right:10px" for="">Tìm kiếm bài viết</label>
                    <div>
                    <div>
                    <input type="text" name="filter">
                    </div> 
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>     
                 </form>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content-table">
      <table class="table table-bordered" id="dataTable" cellpadding=0>
        <thead>
          <tr>
            <th scope="col">Tên bài viết</th>
            <th scope="col">Ngôn ngữ</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>


            <th scope="col" class="text-center">Chức năng</th>
          </tr>
        </thead>
        <tbody>
           @foreach (var post in ViewBag.Posts)
           {
             <tr>
                <td>@post.Title</td>
                <td>
                    @if (@post.Language==0)
                    {
                        <span>Tiếng Việt</span>
                    }else{<span>Tiếng Anh</span>}
                </td>
                <td>                  
                    @post.StartDate.ToString(string.Format("dd-MM-yyyy"))
                </td> 
                <td>                  
                    @post.EndDate.ToString(string.Format("dd-MM-yyyy"))
                </td>                   
                <td class="text-center">
                    <a href="/Admin/Post/Edit/@post.PostId" class="btn bg-primary btn-primary">Edit</a>
                    </td>
             </tr>
           }
        </tbody>
      </table>
    </div>
  </main>
    <div class="alert alert-primary" id="notify" role="alert">
       Thêm Mới Thành Công
    </div>



