


@model IEnumerable<HNCHOME.Areas.Admin.Models.TreeNodeMenu>
<ul class="navbar-nav mr-auto">
    @foreach (var item in Model)
    {
        <li class="nav-item active">
            <a class="nav-link" href="@item.Link">@item.Title 
                @if (item.data.Count > 0)
                {
                    <i class="fa-solid fa-chevron-down"></i>
                }
                <span class="sr-only">(current)</span></a>
                <div class="collaspe">
                    @if (item.data.Count > 0)
                    {
                        @Html.Partial("_childrenMenu",item.data)                        
                    }
                </div>
        </li>
    }
    <li class="nav-item active">
        <a class="nav-link" id="search-home-icon"><span><i class="fa-solid fa-magnifying-glass"></i></span></a>
    </li>
    @await Component.InvokeAsync("Language")
</ul>
