.table td {
    padding: 0.35rem !important;
}
.table .btn {
    padding: 0.3rem 0.3rem !important;
}
.table .orderstatus {
    padding:3px !important;
}

table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
    padding-right: 0 !important;
}