@{
    ViewData["Title"] = "Home Page";
}

<!-- body -->
    <div class="body__sub-body">
        <div class="body__info-about">
            <!-- about us -->
            <div class="info-about__text">
                <h2>VỀ CHÚNG TÔI</h2>
                <br>
                <hr></hr>
                <p>
                    Tại HNC, mục tiêu của chúng tôi là cung cấp dịch vụ xuất sắc cho khách hàng và chúng tôi tự hào về sự chuyên nghiệp, tận tâm của mình.
                </p>
                <p>
                    Phạm vi dịch vụ của chúng tôi bao gồm nhưng không giới hạn các dịch vụ chuyển phát hàng hóa trong nước, chuyển phát hàng hóa quốc tế, chuyển tiếp hàng hóa, vận chuyển hàng thương mại điện tử, vận chuyển hàng hóa đến kho Amazon, quá cảnh hàng hóa, kho
                    vận, thương mại điện tử và các dịch vụ khác.
                </p>
                <button>
                    <a href="#">XEM CHI TIẾT</a>
                </button>
            </div>
            <div class="info-about__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VdlzR-T6qlI" title="YouTube video player" frameborder="0" allow="accelerometer; nodownload autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="body__info-update-news">
            <!-- update News -->
            <div class="info-update-news__text">
                <div class="info-about__text">
                    <h2>CẬP NHẬT
                        <br></br> TIN TỨC
                    </h2>
                    <br>
                    <hr></hr>
                    <p>
                        Là một nhà cung cấp dịch vụ logistics tận tâm và chuyên nghiệp, chúng tôi không ngừng thay đổi và phát triển để đáp ứng mọi yêu cầu của Quý khách hàng.
                    </p>
                    <button>
                        <a href="#">XEM CHI TIẾT</a>
                    </button>
                </div>
            </div>
            <div class="info-update-news__card">
                <div class="card-news">
                    <img src="~/img/1140f45611b3e3edbaa2.jpg" alt=""/>
                    <div class="card-news__text">
                        <h3>
                            <a href="#">HNC CUNG CẤP DỊCH VỤ TRỌN GÓI VẬN CHUYỂN HÀNG HÓA ĐẾN KHO AMAZON</a>
                        </h3>
                        <p>
                            Amazon là một trong những trang thương mại điện tử lớn nhất thế giới. Với lợi nhuận phát sinh lớn, giúp gia tăng uy tín thương hiệu, các... </p>
                        <a href="">Xem chi tiết</a>
                    </div>
                </div>
                <div class="card-news">
                    <img src="~/img/Artboard 3-100.jpg" alt="">
                    <div class="card-news__text">
                        <h3>
                            <a href="">GỬI HÀNG ĐẾN KHO AMAZON BẰNG CÁCH NÀO? QUY TRÌNH VẬN HÀNH</a>
                        </h3>
                        <p>
                            Để có thể bán hàng được trên Amazon, bạn bắt buộc phải vận chuyển hàng vào kho Amazon FBA. Tuy nhiên, quy trình này lại vô cùng phức... </p>
                        <a href="">Xem chi tiết</a>
                    </div>
                </div>
                <div class="card-news">
                    <img src="~/img/10199.jpg" alt="">
                    <div class="card-news__text">
                        <h3>
                            <a href="">CƠ HỘI XUẤT KHẨU HÀNG TIÊU DÙNG VIỆT NAM TRÊN NỀN TẢNG AMAZON</a>
                        </h3>
                        <p>
                            Chiều 14/4, Đại diện Công ty Cổ phần Hợp Nhất Quốc tế (HNC) – Giám đốc Dịch vụ phòng Direct Sales CPN QT MB Nguyễn Đức Thọ đã... </p>
                        <a href="">Xem chi tiết</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="body__group-company">
            <div class="group-company__co-operation">
                <img src="~/img/vla_logo_1.png" alt="" />
                <img src="~/img/iata_logo.png" alt="" />
                <img src="~/img/wca_logo.png" alt="" />
                <img src="~/img/wca_ecommerce_logo.png" alt="" />
                <img src="~/img/jstrans_logo.png" alt="" />
                <img src="~/img/logo_ocs.png" alt="" />
                <img src="~/img/logo_amazon.png" alt="" />
                <img src="~/img/logo_alibaba.png" alt="" />
            </div>
            <div class="group-company__rank">
                <img src="~/img/Top10.png" alt="" />
                <img src="~/img/top5.png" alt="" />
                <img src="~/img/VNR500.png" alt="" />
                <img src="~/img/fast500.png" alt="" />
                <img src="~/img/Profit 500.png" alt="" />
            </div>
        </div>
    </div>
>>>>>>> hieuvm__HNC
