
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
<link rel="stylesheet" href="/css/post.css">
}

<div class="post-content">
            <div class="contact-post">
                <div class="post__header">
                    <div class="post__title">
                        <h1>BẢN TIN HỢP NHẤT</h1>
                    </div>
                </div>
               <div class="container">
                   <div class="new-wrap row">
                       <div class="posts__content col-lg-12 col-md-12 col-xl-8">
                            <div class="list__post">
                                <div class="list__post__item row">
                                    <div class="col-md-12 col-lg-6 col-xl-6 list__post__item--left">
                                        <figure style="background: url('./img/1140f45611b3e3edbaa2.jpg') no-repeat;">
                                            <a href="">
                                                <div class="text__overlay">
                                                    <div class="text__info">
                                                        <span>xem thêm</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6 list__post__item--right">
                                        <div class="post__content">
                                            <div class="post__content__tile">
                                                <a href="#" class="tile__link title_content">CƠ HỘI XUẤT KHẨU HÀNG TIÊU DÙNG VIỆT NAM TRÊN NỀN TẢNG AMAZON</a>
                                            </div>
                                            <div class="post__content__meta">
                                                <div class="new-text-wrap">
                                                    <div class="new-text-left">
                                                        <i class="fa fa-folder"></i>
                                                        <span> Bản tin Hợp Nhất</span>
                                                    </div>
                                                    <div class="new-text-right">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>20/04/2022</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="post__content__summary">
                                                Chiều 14/4, Đại diện Công ty Cổ phần Hợp 
                                                Nhất Quốc tế (HNC) – Giám đốc Dịch 
                                                vụ phòng Direct Sales CPN QT MB 
                                                Nguyễn Đức Thọ đã tham dự hội thảo 
                                                “Cơ hội xuất khẩu hàng tiêu dùng Việt Nam cùng Amazon” tại Trung 
                                                tâm triển lãm quốc tế Hà Nội 91 Trần Hưng Đạo do Hiệp hội Phát triển 
                                                hàng tiêu dùng Việt Nam (VACOD) và Amazon Global Selling đồng tổ chức. 
                                                Hội nghị tập trung vào việc cung cấp các thông tin hỗ trợ doanh nghiệp 
                                                Việt Nam, hàng tiêu dùng Việt Nam (VACOD) và Amazon Global Selling đồng tổ chức. 
                                                Hội nghị tập trung vào việc cung cấp các thông tin hỗ trợ doanh nghiệp 
                                                Việt Nam  
                                            </p>
                                            <div class="post__content__footer">
                                                <div class="post__content__footer-icon">
                                                    <div class="socials">
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                    </div>
                                                </div>
                                                <div class="post__content__footer-btn__view">
                                                    <button class="btn btn-default btn--view-more">xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list__post__item row">
                                    <div class="col-md-12 col-lg-6 col-xl-6  list__post__item--left">
                                        <figure style="background: url('./img/Artboard\ 3-100.jpg') no-repeat;">
                                            <a href="">
                                                <div class="text__overlay">
                                                    <div class="text__info">
                                                        <span>xem thêm</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6  list__post__item--right">
                                        <div class="post__content">
                                            <div class="post__content__tile">
                                                <a href="#" class="tile__link title_content">CƠ HỘI XUẤT KHẨU HÀNG TIÊU DÙNG VIỆT NAM TRÊN NỀN TẢNG AMAZON</a>
                                            </div>
                                            <div class="post__content__meta">
                                                <div class="new-text-wrap">
                                                    <div class="new-text-left">
                                                        <i class="fa fa-folder"></i>
                                                        <span> Bản tin Hợp Nhất</span>
                                                    </div>
                                                    <div class="new-text-right">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>20/04/2022</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="post__content__summary">
                                                Chiều 14/4, Đại diện Công ty Cổ phần Hợp 
                                                Nhất Quốc tế (HNC) – Giám đốc Dịch 
                                                vụ phòng Direct Sales CPN QT MB 
                                                Nguyễn Đức Thọ đã tham dự hội thảo 
                                                “Cơ hội xuất khẩu hàng tiêu dùng Việt Nam cùng Amazon” tại Trung 
                                                tâm triển lãm quốc tế Hà Nội 91 Trần Hưng Đạo do Hiệp hội Phát triển 
                                                hàng tiêu dùng Việt Nam (VACOD) và Amazon Global Selling đồng tổ chức. 
                                                Hội nghị tập trung vào việc cung cấp các thông tin hỗ trợ doanh nghiệp 
                                                Việt Nam 
                                            </p>
                                            <div class="post__content__footer">
                                                <div class="post__content__footer-icon">
                                                    <div class="socials">
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                    </div>
                                                </div>
                                                <div class="post__content__footer-btn__view">
                                                    <button class="btn btn-default btn--view-more">xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list__post__item row">
                                    <div class="col-md-12 col-lg-6 col-xl-6  list__post__item--left">
                                        <figure style="background: url('./img/10199.jpg') no-repeat;">
                                            <a href="">
                                                <div class="text__overlay">
                                                    <div class="text__info">
                                                        <span>xem thêm</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6  list__post__item--right">
                                        <div class="post__content">
                                            <div class="post__content__tile">
                                                <a href="#" class="tile__link title_content">CƠ HỘI XUẤT KHẨU HÀNG TIÊU DÙNG VIỆT NAM TRÊN NỀN TẢNG AMAZON</a>
                                            </div>
                                            <div class="post__content__meta">
                                                <div class="new-text-wrap">
                                                    <div class="new-text-left">
                                                        <i class="fa fa-folder"></i>
                                                        <span> Bản tin Hợp Nhất</span>
                                                    </div>
                                                    <div class="new-text-right">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>20/04/2022</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="post__content__summary">
                                                Chiều 14/4, Đại diện Công ty Cổ phần Hợp 
                                                Nhất Quốc tế (HNC) – Giám đốc Dịch 
                                                vụ phòng Direct Sales CPN QT MB 
                                                Nguyễn Đức Thọ đã tham dự hội thảo 
                                                “Cơ hội xuất khẩu hàng tiêu dùng Việt Nam cùng Amazon” tại Trung 
                                                tâm triển lãm quốc tế Hà Nội 91 Trần Hưng Đạo do Hiệp hội Phát triển 
                                                hàng tiêu dùng Việt Nam (VACOD) và Amazon Global Selling đồng tổ chức. 
                                                Hội nghị tập trung vào việc cung cấp các thông tin hỗ trợ doanh nghiệp 
                                                Việt Nam 
                                            </p>
                                            <div class="post__content__footer">
                                                <div class="post__content__footer-icon">
                                                    <div class="socials">
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                    </div>
                                                </div>
                                                <div class="post__content__footer-btn__view">
                                                    <button class="btn btn-default btn--view-more">xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list__post__item row">
                                    <div class="col-md-12 col-lg-6 col-xl-6  list__post__item--left">
                                        <figure style="background: url('./img/Artboard\ 5-100.jpg') no-repeat;">
                                            <a href="">
                                                <div class="text__overlay">
                                                    <div class="text__info">
                                                        <span>xem thêm</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6  list__post__item--right">
                                        <div class="post__content">
                                            <div class="post__content__tile">
                                                <a href="#" class="tile__link title_content">CƠ HỘI XUẤT KHẨU HÀNG TIÊU DÙNG VIỆT NAM TRÊN NỀN TẢNG AMAZON</a>
                                            </div>
                                            <div class="post__content__meta">
                                                <div class="new-text-wrap">
                                                    <div class="new-text-left">
                                                        <i class="fa fa-folder"></i>
                                                        <span> Bản tin Hợp Nhất</span>
                                                    </div>
                                                    <div class="new-text-right">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>20/04/2022</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="post__content__summary">
                                                Chiều 14/4, Đại diện Công ty Cổ phần Hợp 
                                                Nhất Quốc tế (HNC) – Giám đốc Dịch 
                                                vụ phòng Direct Sales CPN QT MB 
                                                Nguyễn Đức Thọ đã tham dự hội thảo 
                                                “Cơ hội xuất khẩu hàng tiêu dùng Việt Nam cùng Amazon” tại Trung 
                                                tâm triển lãm quốc tế Hà Nội 91 Trần Hưng Đạo do Hiệp hội Phát triển 
                                                hàng tiêu dùng Việt Nam (VACOD) và Amazon Global Selling đồng tổ chức. 
                                                Hội nghị tập trung vào việc cung cấp các thông tin hỗ trợ doanh nghiệp 
                                                Việt Nam 
                                            </p>
                                            <div class="post__content__footer">
                                                <div class="post__content__footer-icon">
                                                    <div class="socials">
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                                        <a href="" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                    </div>
                                                </div>
                                                <div class="post__content__footer-btn__view">
                                                    <button class="btn btn-default btn--view-more">xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-post">                                   
                                    <span class="page-numbers current">1</span>
                                    <a href="/tin-tuc/ban-tin-hop-nhat/p2" class="page-numbers">2</a>
                                    <a href="/tin-tuc/ban-tin-hop-nhat/p3" class="page-numbers">3</a>
                                    <a href="/tin-tuc/ban-tin-hop-nhat/p4" class="page-numbers">4</a>
                                    <a href="/tin-tuc/ban-tin-hop-nhat/p5" class="page-numbers">5</a>
                                    
                                </div>
                            </div>
                       </div>
                       <div class="sidebar__post__right col-lg-12 col-md-12 col-xl-4">
                           <div class="row">
                                <section class="col-md-6 col-sm-6 col-lg-6 col-xl-12">
                                    <div class="track-form">
                                         <lable class="title_content">TRA CỨU BƯU PHẨM, BƯU KIỆN</lable>
                                         <textarea name="" class="form-control" id="" cols="30" rows="2" placeholder="Ví dụ: Số vận đơn là 893020080682251, 893010100170926..."></textarea>
                                         <a href="#" class="btn btn-default btn-search">Tìm Kiếm</a>
                                    </div>
                                </section>
                                <section class="col-md-6 col-sm-6 col-lg-6 col-xl-12">
                                    <div class="country-form mt-40">
                                         <div class="title_content__pb--3">
                                             <lable class="title_content ">TÌM KIẾM TRUNG TÂM GIAO DỊCH:</lable>
                                         </div>
                                         <div class="form-wrap">

                                             <div class="form-group">
                                                 <div class="mb-1">
                                                     <span class="">Quốc gia:</span>
                                                 </div>
                                                 <div>
                                                     @await Component.InvokeAsync(Constants.HomeComponent.CountryComponent)
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="form-wrap">

                                             <div class="form-group">
                                                 <div class="mb-1">
                                                     <span class="">Tỉnh / Thành phố:</span>
                                                 </div>
                                                 <div>
                                                     @await Component.InvokeAsync(Constants.HomeComponent.BranchComponent)
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="form-wrap">
                                             <a href="#" class="btn btn-default btn-search">Tìm Kiếm</a>
                                         </div>
                                     </div>
                                </section>
                           </div>
                           <div class="row">
                                <section class="col-xl-12 d-lg-none d-xl-block d-md-none d-sm-none">
                                    <div class="new-hot mt-40">
                                         <div class="title_content__pb--3">
                                             <lable class="title_content ">BÀI VIẾT MỚI NHẤT:</lable>
                                         </div>
                                         <div class="list__news mt-2">
                                             <div class="list__news__item">
                                                 <a href="">
                                                     <div class="new__image" style="background: url('./img/chuyen-phat-nhanh-trong-nuoc519.png') no-repeat;"></div>
                                                 </a>
                                                 <div class="new__text mt-2">
                                                     <a href="#" class="new__text-link">Vận chuyển hàng hóa quốc tế Aircargo</a>
                                                 </div>
                                             </div>
                                             <div class="list__news__item">
                                                 <a href="">
                                                     <div class="new__image" style="background: url('./img/Van\ chuyen\ hang\ TMDT337.jpg') no-repeat;"></div>
                                                 </a>
                                                 <div class="new__text mt-2">
                                                     <a href="#" class="new__text-link">Vận chuyển hàng hóa quốc tế Express</a>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                </section>
                           </div>
                           <div class="row">
                                <section class="col-xl-12">
                                    <div class="contact-wrap mt-40">
                                     <div class="title_content__pb--3">
                                         <lable class="title_content ">HỖ TRỢ KHÁCH HÀNG:</lable>
                                         <div class="list__contact">
                                             <div class="contact__item">
                                                 <address class="mt-2">
                                                     <div class="phone">
                                                         <i class="fa fa-phone"></i>
                                                         <a href="Tel:1900558866">Hotline: 1900 55 88 66</a>
                                                     </div>
                                                     <div class="social">
                                                         <i class="fa fa-envelope"></i>
                                                         <a href="mailto:info@hopnhat.com">Email:  info@hopnhat.com</a>
                                                     </div>
                                                 </address>
                                             </div>
                                         </div>
                                     </div>
                                    </div>
                                </section>
                           </div>
                           
                       </div>
                   </div>
               </div>
            </div>
        </div>

@section Scripts{
<script src="/js/contact.js"></script>
}