@model IEnumerable<HNCHOME.Areas.Admin.Models.TreeNodeMenu>


<ul>
    @foreach (var child in Model)
    {
        <li>
            <a href="@child.Link"><i class="fa-solid fa-caret-right"></i>@child.Title</a>
            @if (child.data.Count > 0)
            {
                <div class="sub-collaspe">
                    @Html.Partial(Constants.PartialViewName.CHILDREN_MENU_PARTIAL,child.data)
                </div>
            }          
        </li>
    }
</ul>
