@using HNCHOME.Common;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HNCHOME</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/48030cbaf5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/textImage.css">
    <link rel="stylesheet" href="~/css/form.css">
    <link rel="stylesheet" href="~/css/sub-body.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/css/bootstrapHeaderForm.css">
    <link rel="stylesheet" href="~/css/group-company.css">
    <link rel="stylesheet" href="~/css/footer.css">
</head>
<body>
    <div class="body">
        <!-- header -->
        <header class="body_header">
            <!-- menu -->
            <div class="header__menu">
                <nav class="menu__nav">
                    <div class="nav__img">
                        <img src="~/img/Logo-HNC-TV.png" alt="">
                    </div>
                    <div class="emty"></div>
                    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                             @await Component.InvokeAsync("Menu")
                        </div>
                    </nav>
                </nav>
            </div>

            <!-- slide -->
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h3>
                                    VẬN TẢI HÀNG HÓA TRONG NƯỚC
                                </h3>
                                <!-- <br> -->
                                <h5>
                                    Với mạng lưới rộng khắp 63 tỉnh, thành phố trên cả nước, chúng tôi tự tin <br> có dịch vụ chuyển phát nội địa nhanh nhất.
                                </h5>
                                <br>
                                <div class="">
                                    <button>
                                        <a class="btn btn-theme btn-sm btn-min-block" href="#">XEM CHI TIẾT</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <img class="d-block w-100" src="~/img/Chuyen-phat-nhanh-noi-dia.jpg" alt="First slide" />
                    </div>
                    <div class="carousel-item">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h3>
                                    VẬN TẢI HÀNG HÓA QUỐC TẾ
                                </h3>
                                <!-- <br> -->
                                <h5>
                                    Cung cấp dịch vụ vận chuyển đường biển, đường bộ, đường hàng không <br> trong nước và quốc tế, dịch vụ thông quan hàng hóa, dịch vụ nhận và giao <br> hàng tại nước ngoài
                                </h5>
                                <br>
                                <div class="">
                                    <button>
                                        <a class="btn btn-theme btn-sm btn-min-block" href="#">XEM CHI TIẾT</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <img class="d-block w-100" src="~/img/Qua-canh-hang-hoa.jpg" alt="Second slide" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" id="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" id="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="container" id="header-form__container">
                <!-- <div class="row"> -->
                <div class="col-md-8 offset-md-2 mt-5 fancy-forms">
                    <ul class="nav nav-tabs  mt-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="login" data-toggle="tab" href="#login_form" role="tab" aria-controls="login" aria-selected="true">
                                Tra cứu bưu phẩm,
                                <br>
                                bưu kiện
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signup" data-toggle="tab" href="#signup_form" role="tab" aria-controls="signup" aria-selected="false">
                                Tìm kiếm trung tâm giao dịch
                                <br>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="login_form" role="tabpanel" aria-labelledby="login">
                            <div class="fancyformcontainer">
                                <p>Quý khách nhập số vận đơn trên phiếu gửi để tra cứu bưu phẩm, bưu kiện.</p>
                                <textarea type="text" class="form-control" id="email_id" placeholder="Ví dụ: Số vận đơn là 893020080682251, 893010100170926..."></textarea>
                                <div class="text-center">
                                    <button type="submit" class="btn formsubmitbtn">tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="signup_form" role="tabpanel" aria-labelledby="signup">
                            <div class="fancyformcontainer">
                                <label for="state">Quốc gia</label>
                                @await Component.InvokeAsync(Constants.HomeComponent.CountryComponent)
                                <label for="password">Tỉnh/Thành phố</label>
                                @await Component.InvokeAsync(Constants.HomeComponent.BranchComponent)

                                <div class="text-center">
                                    <button type="submit" class="btn formsubmitbtn">tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </header>
        <!-- search form -->
        <div class="body__search-form">
            <div class="body__background-blur">
            </div>
            <div id="search__form" class="container mt-4">
                <div class="row d-flex justify-content-center">
                    <div id="search-container" class="col-md-9">
                        <button type="button" class="close">×</button>
                        <div class="card p-3 mt-3">
                            <div id="search-data" class="search">
                                <input id="search-input" type="text" class="search-input" placeholder="Nhập nội dung cần tìm..." name="">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <footer class="footer">
            <div class="footer__footer">
                <!-- img -->
                <div class="footer__HNC">
                    <!-- HNC online -->
                    <div class="HNC__HNC-online">
                        <div class="HNC-online__text">
                            <a href="#">
                                <h1>
                                    HNC ONLINE
                                </h1>
                            </a>
                        </div>
                        <div class="subtext">
                            <span>Tải ứng dụng tại:</span>
                        </div>
                        <div class="HNC__img">
                            <div class="HNC__HNCMUA__sub_img">
                                <div class="HNC__HNCMUA__sub_img--img">
                                    <img src="~/img/appStore.jpg" alt="">
                                </div>
                                <div class="HNC__HNCMUA__sub_img--img">
                                    <img src="~/img/gPlay.jpg" alt="">
                                </div>
                            </div>
                            <div class="HNC-online__delevery-img">
                                <img src="~/img/Car.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- HNCMUA -->
                    <div class="HNC__HNC-online">
                        <div class="HNC-online__text">
                            <a href="#">
                                <h1>
                                    HNCMUA
                                </h1>
                            </a>
                        </div>
                        <div class="subtext">
                            <span>Tải ứng dụng tại:</span>
                        </div>
                        <div class="HNC__img">
                            <div class="HNC__HNCMUA__sub_img">
                                <div class="HNC__HNCMUA__sub_img--img">
                                    <img src="~/img/appStore.jpg" alt="">
                                </div>
                                <div class="HNC__HNCMUA__sub_img--img">
                                    <img src="~/img/gPlay.jpg" alt="">
                                </div>
                            </div>
                            <div class="HNC-online__delevery-img">
                                <img src="~/img/Shopping-card.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact info -->
                <div>
                    <div class="footer__contact">
                        <div class="contact--container">
                            <div class="footer__conact-info">
                                <span>CÔNG TY CP HỢP NHẤT QUỐC TẾ</span>
                                <ul>
                                    <li><span><i class="fa-solid fa-phone"></i> Hotline: 1900 55 88 66</span></li>
                                    <li><span><i class="fa-solid fa-envelope"></i> Email: info@hopnhat.com</span></li>
                                    <li><span><i class="fa-solid fa-location-dot"></i> Tầng 2, Tòa nhà CT4, Vimeco 2, phố Nguyễn Chánh, phường Trung Hòa, quận Cầu Giấy, thành phố Hà Nội</span></li>
                                    <li>
                                        <span>
                                            <i class="fas fa-clock"></i> Thời gian làm việc :
                                        </span>
                                        <ul>
                                            <li><a href="#">- Thứ 2 - Thứ 6: 8h00 - 12h00, 13h30 - 17h30</a></li>
                                            <li><a href="#">- Thứ 7: 8h00 - 12h00</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__guideline">
                                <span>HƯỚNG DẪN SỬ DỤNG</span>
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Tìm kiếm</span></a></li>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Hướng dẫn đóng gói</span></a></li>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Gửi hàng trực tuyến</span></a></li>
                                </ul>
                            </div>
                            <div class="footer__customer-suport">
                                <span>HỖ TRỢ KHÁCH HÀNG</span>
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Góp ý dịch vụ</span></a></li>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Mạng lưới chi nhánh</span></a></li>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Chính sách bồi thường</span></a></li>
                                    <li><a href="#"><i class="fa-solid fa-caret-right"></i> <span>Chính sách bảo mật</span></a></li>
                                </ul>
                            </div>
                            <div class="footer__image">
                                <div>
                                    <div class="img-box">
                                        <img src="~/img/HNC HOP NHAT INTERNATIONAL JOINT STOCK COMPANY Australia163.jpg" alt="">
                                    </div>
                                    <div class="img-box">
                                        <img src="~/img/HNC HOP NHAT INTERNATIONAL JOINT STOCK COMPANY Germany560.jpg" alt="">
                                    </div>
                                    <div class="img-box">
                                        <img src="~/img/HNC-HOP-NHAT-Logistic431.jpg" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="img-box">
                                        <img src="~/img/HNC HOP NHAT INTERNATIONAL JOINT STOCK COMPANY USA659.jpg" alt="">
                                    </div>
                                    <div class="img-box">
                                        <img src="~/img/HNC HOP NHAT INTERNATIONAL JOINT STOCK COMPANY Office VietNam370.jpg" alt="">
                                    </div>
                                    <div class="img-box">
                                        <img src="~/img/HNC HOP NHAT INTERNATIONAL JOINT STOCK COMPANY Warehouse USA878.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- copy right -->
            <div class="footer__copy-right">
                <div class="copy-right__text">
                    COPYRIGHT 2019 HNC. ALL RIGHTS RESERVED.
                </div>
            </div>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-2.1.1.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/nav-bar-croll.js"></script>
    <script src="~/js/sub-body.js"></script>
    <script type="text/javascript" src="~/js/country-select.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#select2").select2();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
