 <ul>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa quốc tế express</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa quốc tế aircago</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa quốc tế đường biển</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa quốc tế đường bộ</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa nội địa</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa ecom</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>thương mại điện tử</a></li>
  <li><a href="#"><i class="fa-solid fa-caret-right"></i>dịch vụ fba & fbm</a></li>
  <li>
      <a href="#"><i class="fa-solid fa-caret-right"></i>dịch vụ khác</a>
      <div class="sub-collaspe">
          <ul>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>kho vận</a></li>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>quá cảnh hàng hóa</a></li>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>dịch vụ hàng nhập</a></li>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>phát hành báo</a></li>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>bất động sản</a></li>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>vận chuyển hàng hòa ecom</a></li>
              <li><a href="#"><i class="fa-solid fa-caret-right"></i>siêu thị</a></li>
          </ul>
      </div>
  </li>
</ul>
